<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" [ngClass]="{ active: chosenList === 'all'}" (click)="setChosenList('all')">All</a>
    </li>
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" [ngClass]="{ active: chosenList === 'better'}" (click)="setChosenList('better')">Better</a>
    </li>
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" [ngClass]="{ active: chosenList === 'best'}" (click)="setChosenList('best')">Best</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()"></app-list>
</div>
