<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" routerLink="/characters/all" routerLinkActive="active">All</a>
    </li>
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" routerLink="/characters/better" routerLinkActive="active">Better</a>
    </li>
    <li class="nav-item pointer" role="presentation">
      <a class="nav-link" routerLink="/characters/best" routerLinkActive="active">Best</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
